<h1 class="title">
  検索結果：<%= @moutains.count %>件
</h1>
 
  


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @mountains.each do |room| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to mountains_path(room) do %>
                    <%= attachment_image_tag room, :image, fallback: "no-image.png" %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.name, mountains_path(room) %></div>
                </div>
              </div>
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.season, mountains_path(room) %></div>
                </div>
              </div>
              <div class="content">
                <%=link_to mountain.start, mountains_path(room) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>