<div class="complete">
  <table border="1">
   <thead>
    <tr>
      <th>山の画像</th>
      <th>山の名前</th>
      <th>季節</th>
      <th>登り始めた時間</th>
      <th>登り終えた時間</th>
      <th>食べ物</th>
      <th>水分</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <td><%= image_tag @mountain.image if @mountain.image.present? %></td>
      <td><%= @mountain.name %></td>
      <td><%= @mountain.season %></td>
      <td><%= @mountain.start.to_s(:datetime_jp) %></td>
      <td><%= @mountain.endtime.to_s(:datetime_jp) %></td>
      <td><%= @mountain.food %>食分</td>
      <td><%= @mountain.water %>リットル</td>
      <td><%= link_to"削除",@mountain,method: :delete,date: {confurm:"本当に削除しますか？"} %></td></td>
    </tr>
   </tbody> 
  </table>
</div>













