<!DOCTYPE html>
<html>
  <head>
    <title>Gotooyama</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>  
      <nav class="navbar is-primary">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do %>
            <h1 class="title is-3" style="font-family: cursive;">GO TO MOUNTAIN</h1>
          <% end %>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <div class="hidden_box">
              <label for="label1">メニュー</label>
                <input type="checkbox" id="label1"/>
                  <ul class="hidden_show" >
                    <li> <%= link_to "登った山登録", new_mountain_path %></li>
                    <li><%= link_to "登録済み山一覧", :mountains%></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "lbutton is-warning is-light" %></li>
                  </ul>
            </div>
            <% else %>
            <div id="navbarExampleTransparentExample" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
                    </p>
                    <p class="control">
                      <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
                    </p>
                  </div>
                </div>
             </div>
           </div>
           <% end %> 
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
